@font-face {
    font-family: "ArcadeRegular";
    src: local("ArcadeRegular"),
    url("./fonts/arcade-regular.ttf") format("truetype");
  }
  
body {
background-color: rgb(1, 1, 63);
color: white;
}

.start-screen{
align-items: center;
background-color: rgba(169, 169, 169, 0.459);
border: 1px dotted white;
border-top: solid 8px white;
color: white;
display: flex;
flex-direction: column;
font-family: "ArcadeRegular", "Times New Roman", Times, serif;
font-size: 1.5em;
height: 100;
justify-content: space-between;
left: 50%;
padding: 10px;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
width: auto;
}

.wanted-items{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
font-size: 2em;
height: 250px;
width: auto;
}

.mugshot{
height: 250px;
width: auto;
}

.start-button{
background-color: rgb(1, 1, 63);
color: white;
font-size: 1em;
text-align: center;
}

.start-button:hover{
    background-color: white;
    border: 2px solid rgb(1, 1, 63);
    color: darkmagenta;
    font-size: 1em;
    text-align: center;
}
    
.instructions{
align-items: center;
text-align: center;
}

.legend {
align-content: center;
background-color: rgba(169, 169, 169, 0.459);
border-top: 8px solid white;
color: white;
display: flex;
flex-direction: column;
font-family: ArcadeRegular;
font-size: 2em;
height: 300px;
justify-content: center;
position: relative;
width: 400px;;
top: 0;
left: 300px;
z-index: 2;
}

.legend li{
list-style-type: none;
text-align: center;
text-decoration: none;
}

.hint-pic{
border-radius: 50%;
display: none;
}

.game-container {
    width: 1712px;
    height: 1528px;
    background-color: rgba(103, 105, 105, 0);
    border: 20px rgb(172, 24, 4) solid;
    z-index: 2;  
    position: absolute;
    top: 0;  
    left: 0;  
}

.game-image{
  top: 0px;
  left: 0px;
  position: relative;
  }
  
  .scrolled {
    background-color: lightgreen;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in;
  }




  .tag-frame{
    border: 5px solid rgb(229, 231, 231);
    height: 100px;
    width: 100px;
  }

  .tag-options{
  color: white;
  background: grey;
  font-size: 1.3em;
  text-align: center;
  width: 110px;
  }

  .tag-options li{
    border: 1px black solid;
    list-style-type: none;
  }

  .tag-options li:hover{
    background: white;
    border: 1px black solid;
    color: black;
    list-style-type: none;
  }