@font-face {
    font-family: "ArcadeRegular";
    src: local("ArcadeRegular"),
    url("./fonts/arcade-regular.ttf") format("truetype");
  }
  
body {
background-color: rgb(1, 1, 63);
color: white;
}

.start-screen{
align-items: center;
background-color: darkmagenta;
border: 1px dotted white;
color: white;
display: flex;
flex-direction: column;
font-family: "ArcadeRegular", "Times New Roman", Times, serif;
font-size: 1.5em;
height: 100;
justify-content: space-between;
left: 50%;
padding: 10px;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
width: auto;
}

.wanted-items{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
font-size: 2em;
height: 250px;
width: auto;
}

.mugshot{
height: 250px;
width: auto;
}

.start-button{
background-color: rgb(1, 1, 63);
color: rgb(190, 0, 190);
font-size: 1em;
text-align: center;
}

.start-button:hover{
    background-color: white;
    border: 2px solid rgb(1, 1, 63);
    color: darkmagenta;
    font-size: 1em;
    text-align: center;
}
    

.instructions{
align-items: center;
text-align: center;
}